@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-display: swap;
		font-family: "Raleway";
		font-style: normal;
		font-weight: 400;
		src: url("/fonts/raleway-v34-latin-regular.woff2") format("woff2");
	}
	@font-face {
		font-display: swap;
		font-family: "Raleway";
		font-style: normal;
		font-weight: 500;
		src: url("/fonts/raleway-v34-latin-500.woff2") format("woff2");
	}
	@font-face {
		font-display: swap;
		font-family: "Raleway";
		font-style: normal;
		font-weight: 600;
		src: url("/fonts/raleway-v34-latin-600.woff2") format("woff2");
	}
	@font-face {
		font-display: swap;
		font-family: "Raleway";
		font-style: normal;
		font-weight: 700;
		src: url("/fonts/raleway-v34-latin-700.woff2") format("woff2");
	}

	body {
		@apply text-xhain-blue-80 lining-nums proportional-nums;
		font-variant-ligatures: no-common-ligatures;
	}

	.slider-thumb::-webkit-slider-thumb {
		@apply appearance-none w-8 h-8 border-none rounded-full cursor-pointer bg-xhain-blue-50;
	}

	.slider-thumb::-moz-range-thumb {
		@apply appearance-none w-8 h-8 border-none rounded-full cursor-pointer bg-xhain-blue-50;
	}

	.dialog-scrollbar {
		scrollbar-color: #b2c5ff #ffffff;
		@apply [&::-webkit-scrollbar]:w-2 
				[&::-webkit-scrollbar-thumb]:rounded-full
				[&::-webkit-scrollbar-thumb]:bg-xhain-blue-30;
	}

	.dialog-description ul {
		@apply py-4 pl-2;
	}
}
