@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-display: swap;
		font-family: "Raleway";
		font-style: normal;
		font-weight: 400;
		src: url("/fonts/raleway-v34-latin-regular.woff2") format("woff2");
	}
	@font-face {
		font-display: swap;
		font-family: "Raleway";
		font-style: normal;
		font-weight: 500;
		src: url("/fonts/raleway-v34-latin-500.woff2") format("woff2");
	}
	@font-face {
		font-display: swap;
		font-family: "Raleway";
		font-style: normal;
		font-weight: 600;
		src: url("/fonts/raleway-v34-latin-600.woff2") format("woff2");
	}
	@font-face {
		font-display: swap;
		font-family: "Raleway";
		font-style: normal;
		font-weight: 700;
		src: url("/fonts/raleway-v34-latin-700.woff2") format("woff2");
	}

	body {
		@apply text-xhain-blue-80 lining-nums proportional-nums;
		font-variant-ligatures: no-common-ligatures;
	}

	.pie-part:focus {
		@apply outline-none;
	}
}
